github "pointfreeco/swift-overture" #~> 0.5
github "onevcat/Kingfisher" #~> 5.0
github "kishikawakatsumi/KeychainAccess"
github "freshOS/Stevia" == 4.7.3
github "nikislyak/Networking" "master"
github "texturegroup/texture"